parse_pdf:
  description: >
    Process the financial PDF located at {pdf_path} using the 'Docling'
    tool. Pass 'pdf_file_name' (same as pdf_path)as input to the tool.
    After processing, return the **absolute path** of the generated JSON file
    so the next task can safely consume it.

  expected_output: >
    A single string containing the absolute file path of the generated JSON file.
    Example: /Users/.../knowledge/TSLA-Q2-2025-Update.json

  agent: docling_agent

  input:
    pdf_file_name: {pdf_path}



parse_json:
  description: >
    Parse the JSON file and extract value for the field: {input_field}.
#    Analyze the JSON output provided by the previous task (parse_pdf).
#    Extract the specific financial value corresponding to the {input_field} field.
#    The output must ONLY contain the clean, extracted value (e.g., "$1.2B").
  expected_output: >
    Returns all the values of the input field from the JSON file and summarizes it.
  agent: JSON_data_extractor
  content: "{{ parse_pdf.result }}"


answer_query:
  description: >
    Utilize the structured financial data in the JSON file to answer the user's final query: {user_query}.
    The agent must read the file and extract, analyze, and synthesize the relevant
    information to provide a comprehensive answer.

  expected_output: >
    A natural language answer that directly addresses the user's query, citing
    and summarizing the extracted financial values from the JSON data.

  agent: financial_analyst_agent

  context : [parse_pdf]
  input:
    json_file_path: "{{ parse_pdf.result }}"
    user_query: "{{ user_query }}" # Using the original input field as the user's query

